<h1>Github Repositories:</h1>

<div *ngIf="loading">
    <p>Loading...</p>
</div>

<span *ngIf="!loading">
    <div>Total: {{githubResponse.data.search.repositoryCount}}</div>

    <ul *ngFor="let edge of githubResponse.data.search.edges">
        <div class="detail-link" (click)="openDetail(edge)">
            <h2>{{edge.node.name}}</h2>
        </div>
        <div>{{edge.node.description}}</div>
        <hr>
    </ul>
</span>


<!-- select pipe not working!?:
    <ul *ngFor="let entry of githubResponseObservable | async | select: 'search.edges'">
        Name: {{entry.node.name}}
    </ul>
-->